<%= form_with(model: manage) do |form| %>
  <% if manage.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(manage.errors.count, "error") %> prohibited this manage from being saved:</h2>

      <ul>
        <% manage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :info, style: "display: block" %>
    <%= form.text_field :info %>
  </div>

  <div>
    <%= form.label :details, style: "display: block" %>
    <%= form.text_field :details %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
